div{
	width:0px;
	height:0px;
}
div.box1{

	position: fixed;
	z-index:0;
	position: relative;
	background-color: red;
	transition: width 2s, height 2s;

}
.wide{
	width:300px;
	height:300px;
}

.inner{
	display:flex;
	align-items:center;
	justify-content:center;
	position: absolute;
	top: 0px;
	right: 0px;
	border:solid;
	width:30px;
	height:30px;
}


#close{
	display:flex;
	color:white;
	width:30px;
	height:30px;
	background-color: black;
	align-items:center;
	justify-content:center;

}